.admin-nav-item {
    margin-bottom: 5px;
}

.change-password {
    width: 150px;
}

.change-password-btn {
    margin-top: 15px;
}

.password-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hidden-metadata {
    display: none;
}

.api-quota {
    display: inline;
}

input.api-quota {
    display: inline;
    width: 9em;
    font-size: .85em;
    height: .85em;
}

.wrap-text {
    word-wrap: break-word;
}

@media (min-width: 700px) {
    table {
        table-layout: fixed;
    }
}

/**
.nav-pills li > a {
    border: 1px solid #fff;
    color: #fff;
    font-size: 15px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #f8f5f0;
    color: #336633;
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f8f5f0;
    color: #336633;
}

**/

@media (max-width: 991px) {
    .panel-admin {
        padding-top:10px;
        padding-bottom: 10px;
        background: rgba(155, 155, 155, 0.5);
    }
}
